<h1>Hello world</h1>

<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.button :submit %>
<% end %>

<% @lists.each do |list| %>
  <%= list.name %>
  <%= link_to 'X', list_path(list), method: :delete %>
<% end %>
