<div class="content">
  <h1>My lists</h1>
  <div class="list-view">
    <div class="list-left">
      <% @lists.each do |list| %>
        <div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.background_url %>)">
          <%= link_to list_path(list) do %>
            <h2><%= list.name %></h2>
          <% end %>
          <div class="card-delete">
            <%= link_to '✕', list_path(list), method: :delete %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="list-right">
      <h5><em>Create your own watchlist</em></h5>
      <br>
      <%= simple_form_for @list do |f| %>
        <%= f.input :name, placeholder: "My top 5" %>
        <%= f.input :background_url, label: "Background image", placeholder: "https://my-favorite-img.jpg/" %>
        <br>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
