<div class="content">
  <h1><%= @list.name %></h1>
  <div class="list-view">
    <div class="list-left">
      <% @bookmarks.each do |bookmark| %>
        <div class="card-bookmark">
          <img src="<%= bookmark.movie.poster_url %>" />
          <div class="card-bookmark-infos">
            <div class="first-row">
              <p><%= bookmark.movie.title %></p>
              <p><small><em><%= bookmark.rating %></em></small> ⭐️</p>
            </div>
            <div class="second-row">
              <p>💭 <small><em>"<%= bookmark.comment %>"</em></small></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="list-right">
      <%= simple_form_for [@list, @movie, @bookmark] do |f| %>
        <%= f.input :comment %>
        <%= f.input :rating %>
        <%= f.association :movie %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
