<div class="content">
  <h1>My movies</h1>
  <div class="list-view">
    <div class="list-left">
      <% @movies.each do |movie| %>
        <div class="card-trip">
          <img src="<%= movie.poster_url %>" />
          <div class="card-trip-infos">
            <h2><%= movie.title %></h2>
          </div>
        </div>
      <% end %>
    </div>
    <div class="list-right">
      <%= simple_form_for @movie do |f| %>
        <%= f.input :title %>
        <%= f.input :overview %>
        <%= f.input :poster_url %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
